/* AgradecimentoPedido.css */
.agradecimento-container {
  padding: 50px;
  font-family: sans-serif;
  background-color: #e6ffe6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
  color: #38761d;
}

.agradecimento-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.agradecimento-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.seguir-instagram {
  margin-top: 40px;
  text-align: center;
}

.seguir-instagram p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.link-instagram {
  text-decoration: none;
}

.botao-instagram {
  background-color: #e4405f; /* Cor do botão inspirada no Instagram */
  color: white !important; /* Força a cor branca do texto */
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease;
}

.botao-instagram:hover {
  background-color: #d42a4f;
}

.logo-instagram {
  width: 24px; /* Tamanho da logo */
  height: 24px;
}